body{
    text-align: center;
    background-color: rgba(251, 217, 0,.4);
}

.jumbotron{
    background-color: #FBD900;
}

.introText{
    border: 1px solid red;
    padding:30px;
}

.mainBody{
    width: 60%;
    align-items: center;
    margin: auto;
}

.mainFunction{
    border:1px solid blue;
    padding: 100px;

}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
     background-color: #FBD900;
}

#inputPhrase{
    height: 35px;
    border-radius: 5px;
    width: 200px;
}

.footerLinks li{
display: inline;
}